{% extends "admin/base_site.html" %}

{% block content %}
    <h1>Welcome to My Custom Admin Login Page</h1>
    <form method="post" action="{% url 'admin:login' %}">
        {% csrf_token %}
        <div>
            <label for="id_username">Username:</label>
            <input type="text" name="username" id="id_username">
        </div>
        <div>
            <label for="id_password">Password:</label>
            <input type="password" name="password" id="id_password">
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
{% endblock %}
