{% extends "base_auth_dash.html" %}
{% load static %}

{% block content %}
<div class="col-lg-12">
    <style>
        .backIcon:hover {
            color: white !important;
        }
        .preview-img {
            max-width: 150px;
            max-height: 150px;
            margin-top: 10px;
            border-radius: 5px;
        }
    </style>

    <div class="card">
        <div class="card-body">
            <h4 class="card-title text-primary">
                <i class="bi bi-person-plus"></i>
                {% if form.instance.pk %} Edit {% else %} Create {% endif %} Coworker
            </h4>

            <a href="{% url 'beneficiary_coworker' %}" class="btn btn-outline-primary mb-3">
                <i class="bi bi-arrow-left-square"></i> Go Back
            </a>

            <form method="post" action="{% if form.instance.pk %}{% url 'coworker_update' pk=form.instance.pk %}{% else %}{% url 'coworker_create' %}{% endif %}" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="mb-3">
                    {{ form.full_name.label_tag }}
                    {{ form.full_name }}
                </div>

                <div class="row">
                    <div class="col-md-3 mb-3">
                        <label>Gender</label><br>
                        {% for radio in form.gender %}
                            <div class="form-check form-check-inline">
                                {{ radio.tag }} {{ radio.choice_label }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-md-3 mb-3">
                        {{ form.age.label_tag }}
                        {{ form.age }}
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ form.role.label_tag }}
                        {{ form.role }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        {{ form.phone_number.label_tag }}
                        {{ form.phone_number }}
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ form.email.label_tag }}
                        {{ form.email }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        {% if coworker.photo %}
                            <img src="{{ coworker.photo.url }}" alt="Photo Preview" class="preview-img">
                        {% endif %}
                        <hr />
                        {{ form.photo.label_tag }}
                        {{ form.photo }}
                    </div>
                    <div class="col-md-6 mb-3">
                        {% if coworker.cardphoto %}
                            <img src="{{ coworker.cardphoto.url }}" alt="Card Photo Preview" class="preview-img">
                        {% endif %}
                        <hr />
                        {{ form.cardphoto.label_tag }}
                        {{ form.cardphoto }}
                        <hr />
                        {{ form.nationalId.label_tag }}
                        {{ form.nationalId }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        {{ form.from_date.label_tag }}
                        {{ form.from_date }}
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ form.to_date.label_tag }}
                        {{ form.to_date }}
                    </div>
                </div>

                <div class="mb-3">
                    {{ form.description.label_tag }}
                    {{ form.description }}
                </div>

                <button type="submit" class="btn btn-warning">
                    <i class="fa fa-check-square-o"></i> Submit
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock content  %}
