{% extends "base_auth_dash.html" %}
{% load static %}

{% block content %}
<div class="col-lg-12">
<style>
  .backIcon:hover {
      color: white !important;
  }
</style>

<div class="card">
  <div class="card-body">
      <h5 class="card-title">
        {% if form.instance.pk %}
           Edit Spraying Data Record:
              <span class="text-danger">{{ beneficiary.full_name }}</span>
        {% else %}
          Create Spraying Data Record:
              <span class="text-secondary">{{ beneficiary.full_name }}</span>
        {% endif %}
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span class="btn btn-outline-primary">
              <a href="{% url 'edo_spraying_data_index' %}" class="backIcon"><i class="fa fa-mail-reply-all"></i> Go Back</a>
          </span>
      </h5>

      {% if form.errors %}
      <div class="alert alert-danger alert-dismissible">
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
          <strong>Errors:</strong>
          <ul>
              {% for field in form %}
                  {% if field.errors %}
                      <li><strong>{{ field.label }}:</strong>
                          <ul>
                              {% for error in field.errors %}
                                  <li>{{ error }}</li>
                              {% endfor %}
                          </ul>
                      </li>
                  {% endif %}
              {% endfor %}
              {% for error in form.non_field_errors %}
                  <li>{{ error }}</li>
              {% endfor %}
          </ul>
      </div>
      {% endif %}

      <form method="post" action="{% if form.instance.pk %}{% url 'edo_update_spraying_data' spraying_data.id beneficiary.id %}{% else %}{% url 'edo_create_spraying_data' beneficiary.id %}{% endif %}">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.date_sprayed.label_tag }}
            {{ form.date_sprayed }}
        </div>
                  
        <div class="row">
            <div class="col-md-4 mb-3">
                {{ form.crop.label_tag }}
                {{ form.crop }}
            </div>
            <div class="col-md-4 mb-3">
                {{ form.chemical_used.label_tag }}
                {{ form.chemical_used }}
            </div>
            
            <div class="col-md-4 mb-3">
                {{ form.dosage.label_tag }}
                {{ form.dosage }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mb-3">
                {{ form.sprayingMethod.label_tag }}<br/>
                {{ form.sprayingMethod }}
                {% if form.sprayingMethod.errors %}
                    <div class="text-danger">{{ form.sprayingMethod.errors }}</div>
                {% endif %}
            </div>
            <div class="col-md-3 mb-3">
                {{ form.sprayed_by.label_tag }}
                {{ form.sprayed_by }}
                {% if form.sprayed_by.errors %}
                    <div class="text-danger">{{ form.sprayed_by.errors }}</div>
                {% endif %}
            </div>
            <div class="col-md-3 mb-3">
                {{ form.startTime.label_tag }}
                {{ form.startTime }}
            </div>
            <div class="col-md-3 mb-3">
                {{ form.finishTime.label_tag }}
                {{ form.finishTime }}
            </div>
        </div>
       
        <div class="row">
            <div class="col-md-6 mb-3">
                {{ form.purpose.label_tag }}
                {{ form.purpose }}
            </div>
            <div class="col-md-6 mb-3">
                {{ form.description.label_tag }}
                {{ form.description }}
            </div>
        </div>
       
        <button type="submit" class="btn btn-outline-primary">
            <i class="fa fa-check-square-o"></i> 
            {% if form.instance.pk %}
                Update Spraying Record
            {% else %} 
                Save Spraying Record 
            {% endif %}
        </button>
    </form>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            flatpickr('#id_startTime', {
                enableTime: true,
                noCalendar: true, // Hides the calendar and only shows the time picker
                dateFormat: "H:i", // Time format: Hours and Minutes (24-hour format)
                time_24hr: true    // Ensures 24-hour time format
            });
            flatpickr('#id_finishTime', {
                enableTime: true,
                noCalendar: true, // Hides the calendar and only shows the time picker
                dateFormat: "H:i", // Time format: Hours and Minutes (24-hour format)
                time_24hr: true    // Ensures 24-hour time format
            });
        });
    </script>

{% endblock content %}
