{% extends "base_auth_dash.html" %}
{% load static %}


{% block content %}

  
      <div class="row">

          <div class="card">
            <div class="card-body">
              <h4 class="card-title"><i class="fa fa-address-card"></i> Beneficiary Crop Irrigation Records
                {% comment %} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'create_irrigation_data' %}" class="pull-right btn btn-outline-primary btn-sm">
                 <i class="fa fa-plus-circle"></i> Add Irrigation Data {% endcomment %}
              </a>
      
              </h4>
              <hr/>
              <div class="container">
              {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'success' %}
                        <div class="alert alert-success alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>{{ message }}</strong>
                        </div>
                        {% else %}
                            <div class="alert alert-danger alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>{{ message }}</strong>
                            </div>
                        {% endif %}

                    {% endfor %}
                {% endif %}
                </div>
            
              <div class="table-responsive">               
                <table id="myTable" class="table table-hover">
                    <thead class="table-info">
                        <tr>
                            <th>Beneficiary</th>
                            <th>Date Irrigated</th>
                            <th>Crop</th>
                            <th>Greenhouse</th>
                            <th>
                                Area Covered
                                <i class="fa fa-info-circle text-primary fa-lg" 
                                   data-toggle="tooltip" 
                                   data-placement="top" 
                                   title="Square Metres" 
                                   aria-label="tooltip"></i>
                            </th>
                            <th>
                                Water Quantity
                                <i class="fa fa-info-circle text-primary fa-lg" 
                                   data-toggle="tooltip" 
                                   data-placement="top" 
                                   title="Cubic Metres" 
                                   aria-label="tooltip"></i>
                            </th>
                            <th>Method</th>
                            <th>StartTime</th>
                            <th>FinishTime</th>
                            <th>Duration</th>
                            <th>Notes</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if irrigation_records %}
                             {% for record in irrigation_records %}
                                <tr>
                                    <td>{{ record.beneficiary.full_name }}</td>
                                    <td>{{ record.date_irrigated|date:"d-m-Y" }}</td>
                                    <td>{{ record.crop.name }}</td>
                                    <td>{{ record.greenhouse.name }}
                                        <i class="fa fa-info-circle text-primary fa-lg" 
                                        data-toggle="tooltip" 
                                        data-placement="top" 
                                        title="{{ record.greenhouse_room.room_name }}" 
                                        aria-label="tooltip"></i>
                                    </td>
                                    <td>{{ record.area_covered }}</td>
                                    <td>{{ record.water_quantity }}</td>
                                    <td>{{ record.method }}</td>
                                    <td>{{ record.startTime }}</td> 
                                    <td>{{ record.finishTime }}</td>
                                    <td>{{ record.time_difference }}</td>
                                    <td>
                                        <i class="fa fa-info-circle text-primary fa-lg" 
                                        data-toggle="tooltip" 
                                        data-placement="top" 
                                        title="{{ record.description }}" 
                                        aria-label="tooltip"></i>
                                    </td>
                                    <td>{{ record.status }}</td>
                                    <td class="text-center">
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="View Record" aria-label="View Record">
                                            <i class="fa fa-wpexplorer text-success fa-lg"></i>
                                        </a>&nbsp;&nbsp;
                                        <a href="{% url 'edo_update_irrigation_data' record.id %}" data-toggle="tooltip" data-placement="top" title="Update Record" aria-label="Update Record">
                                            <i class="fa fa-pencil-square text-primary fa-lg"></i>
                                        </a>&nbsp;&nbsp;
                                        <a href="{% url 'edo_create_irrigation_data' record.beneficiary_id %}" data-toggle="tooltip" data-placement="top" title="Create New Irrigation Record for {{ record.beneficiary.full_name }}">
                                            <i class="fa  fa-plus-circle text-warning fa-lg"></i>
                                          </a> &nbsp;&nbsp;
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            {% else %}
                            <tbody>
                                <tr>
                                    <td colspan="7" class="text-center">No records found</td>
                                </tr>
                            </tbody>
                            {% endif %}
                        </table>
                
                
              </div>
            </div>
          </div>
          
          {% comment %} <div class="card col-md-3" style="border: 2px solid blue"></div> {% endcomment %}

        </div>
   {% endblock %}