{% extends "base_auth_dash.html" %}
{% load static %}


{% block content %}

  
      <div class="row">

          <div class="card">
            <div class="card-body">
              <h4 class="card-title"><i class="fa fa-address-card"></i> Beneficiary Crop Spraying Records
               {% comment %} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'edo_create_spraying_data' %}" class="pull-right btn btn-outline-primary btn-sm">
                 <i class="fa fa-plus-circle"></i> Add Spraying Data
              </a> {% endcomment %}
      
              </h4>
              <hr/>
              <div class="container">
              {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'success' %}
                        <div class="alert alert-success alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>{{ message }}</strong>
                        </div>
                        {% else %}
                            <div class="alert alert-danger alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>{{ message }}</strong>
                            </div>
                        {% endif %}

                    {% endfor %}
                {% endif %}
                </div>
            
              <div class="table-responsive">               
                <table id="myTable" class="table table-hover">
                    <thead class="table-info">
                        <tr>
                            <th scope="col">Beneficiary</th>
                            <th scope="col">Date Sprayed</th>
                            <th scope="col">Crop</th>
                            <th scope="col">Greenhouse &amp; Tunnel</th>
                            <th scope="col">Chemical Used</th>
                            <th scope="col"  data-toggle="tooltip" data-placement="top" title="Measured in litres">Dosage</th>
                            <th scope="col">StartTime</th>
                            <th scope="col">FinishTime</th>
                            <th scope="col">Duration</th>
                            <th scope="col">Purpose</th>                             
                            <th scope="col">Notes</th>
                            <th scope="col">Feedback</th>                          
                            <th scope="col">Status</th>
                            <th scope="col" class="text-center">Action</th>
                        </tr>
                    </thead>
                
                    {% if spraying_records %}
                    <tbody>
                        {% for record in spraying_records %}
                        <tr>
                            <td>{{ record.beneficiary.full_name }}</td>
                            <td>{{ record.date_sprayed|date:"d-m-Y" }}</td>
                            <td>{{ record.crop.name }}</td>
                            <td>
                                {{ record.greenhouse.name }}
                                <i class="fa fa-info-circle text-warning fa-lg" data-toggle="tooltip" data-placement="top" title=" {{ record.greenhouse_room.room_name}}"></i>
                            </td>
                            <td>{{ record.chemical_used }}</td>
                            <td>{{ record.dosage }}</td>
                            <td>{{ record.startTime }}</td> 
                            <td>{{ record.finishTime }}</td> 
                            <td>{{ record.time_difference }}</td>  
                            <td>                               
                                <i class="fa fa-info-circle text-success fa-lg" data-toggle="tooltip" data-placement="top" title=" {{ record.purpose}}"></i>
                            </td>
                            <td>                               
                                <i class="fa fa-info-circle text-primary fa-lg" data-toggle="tooltip" data-placement="top" title=" {{ record.description}}"></i>
                            </td>
                            <td>                               
                                <i class="fa fa-info-circle text-warning fa-lg" data-toggle="tooltip" data-placement="top" title=" {{ record.feedback}}"></i>
                            </td>
                            <td>{{ record.status }}</td>
                            <td class="text-center">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="View Record" aria-label="View Record">
                                    <i class="fa fa-wpexplorer text-success fa-lg"></i>
                                </a>&nbsp;&nbsp;
                                <a href="{% url 'edo_update_spraying_data' record.id record.beneficiary_id %}" data-toggle="tooltip" data-placement="top" title="Update Record" aria-label="Update Record">
                                    <i class="fa fa-pencil-square text-primary fa-lg"></i>
                                </a>&nbsp;&nbsp;
                                <a href="{% url 'edo_create_spraying_data' record.beneficiary_id %}" data-toggle="tooltip" data-placement="top" title="Create New Spraying Record for {{ record.beneficiary.full_name }}">
                                    <i class="fa  fa-plus-circle text-warning fa-lg"></i>
                                  </a> &nbsp;&nbsp;
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    {% else %}
                    <tbody>
                        <tr>
                            <td colspan="9" class="text-center">No records found</td> <!-- Fixed colspan -->
                        </tr>
                    </tbody>
                    {% endif %}
                </table>
              </div>
            </div>
          </div>
          
          {% comment %} <div class="card col-md-3" style="border: 2px solid blue"></div> {% endcomment %}

        </div>
   {% endblock %}