{% extends "base_auth_dash.html" %}
{% load static %}


{% block content %}

  
      <div class="row">

          <div class="card">
            <div class="card-body">
              <h4 class="card-title"><i class="fa fa-address-card"></i> Assigned Changeroom
               
              </a>
      
              </h4>
              <hr/>
              <div class="table-responsive">
                <table class="table table-hovered">
                    <thead>
                        <tr>
                            <th>Changing Room Name</th>
                            <th>Notes</th>
                            <th>Photo</th>
                            <th>Status</th>
                            <th>Assigned At</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if changing_rooms %}
                            {% for chroom in changing_rooms %}
                                <tr>
                                    {% comment %} <pre>Changing rooms :{{ changing_rooms|pprint }}</pre>
                                    <hr/> {% endcomment %}
                                    {% comment %} <pre>Assigned Changing Rooms: {{ assigned_changing_rooms|pprint }}</pre> {% endcomment %}

                                    <td>{{ chroom.name }}</td>
                                    <td>{{ chroom.notes|default:"No notes available" }}</td>                                    
                                    <td>
                                        {% if chroom.photo %}
                                            <img src="{{ chroom.photo.url }}" alt="{{ chroom.name }}" style="width:50px;height:50px;">
                                        {% else %}
                                            No photo
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if chroom in assigned_changing_rooms %}

                                            {% for ch in assigned_changing_rooms%}
                                            <!-- Icon for assigned crops (using a green checkmark or another icon) -->
                                            <i class="fa fa-check-check-o text-success"></i> Assigned
                                                {{ ch.name }}
                                            {% endfor %}

                                        {% else %}
                                            <!-- Icon for unassigned crops (using a grey circle or another icon) -->
                                            <i class="fa fa-times-circle-o text-danger"></i> Not Assigned
                                        {% endif %}
                                    </td>
                                    <td>{{ chroom.assigned_at }}</td>
                                    <td>
                                        <a href="{% url 'edo_changingroom_detail' chroom.pk %}" data-toggle="tooltip" data-placement="top" title="View Detail record"><i class="fa fa-eye"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="3">No changing rooms assigned to this beneficiary.</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>

              </div>
            </div>
          </div>
        
        </div>
   
     

{% endblock %}