{% extends "base_auth_dash.html" %}
{% load static %}


{% block content %}

  
      <div class="row">

          <div class="card">
            <div class="card-body">
              <h4 class="card-title"><i class="fa fa-address-card"></i> Farm Input Distribution List
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'edo_create_distribute_input' %}" class="pull-right btn btn-outline-primary btn-sm">
                 <i class="fa fa-plus-circle"></i> Create New Distribution
              </a>      
              </h4>
              {% comment %} <p class="card-description"> Add class <code>.table-hover</code>
              </p> {% endcomment %}
              <hr/>
              <div class="table-responsive">

                <table id="myTable" class="table table-hover">
                    <thead class="table-info">
                            <tr>
                                <th>Beneficiary</th>
                                <th>Farm Input</th>
                                <th>Quantity</th>
                                <th>Unit Cost</th>
                                <th>Total Cost</th>
                                <th>Distributed By</th>
                                <th>Distribution Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for distribution in distributions %}
                            <tr>
                              <td>{{ distribution.beneficiary}}</td>
                              <td>{{ distribution.distributed_by }}</td>
                              <td>{{ distribution.quantity }}</td>
                              <td>{{ distribution.farm_input.unit_cost }}</td>
                              <td>{{ distribution.total_cost }}</td>
                              <td>{{ distribution.created_by }}</td>
                              <td>{{ distribution.distribution_date }}</td>

                              

                          </tr>
                            {% endfor %}
                        </tbody>
                    </table>

              </div>
            </div>
          </div>
          
          {% comment %} <div class="card col-md-3" style="border: 2px solid blue"></div> {% endcomment %}

        </div>
   {% endblock %}