{% extends "base_auth_dash.html" %}
{% load static %}


{% block content %}

  
      <div class="row">

          <div class="card">
            <div class="card-body">
              <h4 class="card-title"><i class="fa fa-address-card"></i> Input Dealers
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'aic_create_inputdealer' %}" class="pull-right btn btn-outline-primary btn-sm">
                 <i class="fa fa-plus-circle"></i> Add Input Dealer
              </a>
      
              </h4>
              {% comment %} <p class="card-description"> Add class <code>.table-hover</code>
              </p> {% endcomment %}
              <hr/>
              <div class="table-responsive">

                <table id="myTable" class="table table-hover">
                  <thead class="table-info">
                    <tr>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Address</th>
                      <th>Contact Perfoce</th>
                      <th>Telephone</th>
                      <th>Website</th>
                      <th>Notes</th>                      
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if inputdealers %}
                    {% for act in inputdealers %}
                     <tr>
                      <td>{{ act.name }}</td>
                      <td>{{ act.email }}</td>
                      <td>{{ act.address }}</td>
                      <td>{{ act.contactperson }}</td>
                      <td>{{ act.telephone }}</td>
                      <td class="text-danger"> {{ act.website }} <i class="ti-website-down"></i></td>
                      <td>{{ act.notes }}</td>
                      <td>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="View Record">
                          <i class="fa  fa-wpexplorer text-success fa-lg"></i>
                        </a> &nbsp;&nbsp;
                        <a href="{% url 'aic_update_input_category' inputcategory_id=act.id %}" data-toggle="tooltip" data-placement="top" title="Update Record">
                          <i class="fa  fa-pencil text-primary fa-lg"></i>
                        </a> &nbsp;&nbsp;
                    </td>
                    </tr>
                    {% endfor %}            
                    {% else %}
                      No record Found
                    {% endif %}
                  </tbody>
                </table>

              </div>
            </div>
          </div>
          
          {% comment %} <div class="card col-md-3" style="border: 2px solid blue"></div> {% endcomment %}

        </div>
   {% endblock %}