{% extends "base_auth_dash.html" %}
{% load static %}


{% block content %}

  
      <div class="row">

          <div class="card">
            <div class="card-body">
              <h4 class="card-title" style="font-size:0.90em!important"><i class="fa fa-address-card"></i> Harvest Record For: <span class="text-danger"></span>
              
                 {{ beneficiary.full_name }}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="btn btn-outline-primary" style="font-size:0.90em!important">
                       <a href="{% url 'aic_beneficiary_index' %}" class="backIcon"><i class="fa fa-mail-reply-all"></i> Go Back</a> 
                </span>
              </h4>
              <hr/>
                <div class="row flex-grow">
                  <div class="col-12 grid-margin stretch-card">
                    <div class="card card-rounded">
                      <div class="card-body">
                        <div class="d-sm-flex justify-content-between align-items-start">
                        </div>
                        <div class="table-responsive  mt-1">
                            <table id="myTable" class="table table-hover">
                                <thead class="table-info">
                                    <tr>                                        
                                        <th>Date</th>
                                        <th>Crop</th>
                                        <th>Grade</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                        <th>Total</th>
                                        <th>Unit</th>
                                        <th>Confirmation</th>
                                        <th>Info</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for harvest in assigned_harvest_records %}
                                    <tr>
                                        <td>{{ harvest.date|date:"d-m-Y"}}</td>
                                        <td>{{ harvest.crop.name }}</td>
                                        <td>{{ harvest.grade.name }}</td>
                                        <td>{{ harvest.quantity }}</td>
                                        <td>{{ harvest.price_record.price }}</td>
                                        <td>{{ harvest.total_price }}</td>
                                        <td>{{ harvest.unit.expression }}</td>                                         
                                        <td>{{ harvest.confirmation }}</td>
                                        <td>
                                          <i class="fa fa-info-circle text-primary fa-lg" data-toggle="tooltip" data-placement="top" title="{{ harvest.description }}"></i>
                                      </td>
                                        <td>
                                          <a href="{% url 'update_harvest' harvest.id %}" data-toggle="tooltip" data-placement="top" title="Update Harvest Record">
                                            <i class="fa  fa-pencil-square-o text-danger fa-lg"></i>
                                        </a>
                                        <a href="{% url 'view_harvest' harvest.id %}" data-toggle="tooltip" data-placement="top" title="View Harvest Record">
                                          <i class="fa  fa-eye text-primary fa-lg"></i>
                                       </a>
                                        
                                       </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="6">No harvest records available.</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>                
            </div>
          </div>
        </div>
   
     

{% endblock %}