{% extends "base_auth_dash.html" %}
{% load static %}


{% block content %}

  
      <div class="row">

          <div class="card">
            <div class="card-body">
              <h4 class="card-title"><i class="fa fa-address-card"></i> Beneficiary Crop Nursery Records
                {% comment %} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'create_nursery_data' %}" class="pull-right btn btn-outline-primary btn-sm">
                 <i class="fa fa-plus-circle"></i> Add Nursery Data {% endcomment %}
              </a>
      
              </h4>
              <hr/>
              <div class="container">
              {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'success' %}
                        <div class="alert alert-success alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>{{ message }}</strong>
                        </div>
                        {% else %}
                            <div class="alert alert-danger alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>{{ message }}</strong>
                            </div>
                        {% endif %}

                    {% endfor %}
                {% endif %}
                </div>
            
              <div class="table-responsive">               
                <table id="myTable" class="table table-hover">
                    <thead class="table-info">
                        <tr>
                            <th>Beneficiary</th>
                            <th>Date Nursed</th>
                            <th>Crop</th>
                            <th>Variety</th>
                            <th>Tunnel</th>
                            <th>Sown</th>
                            <th>Germinated</th>
                            <th>Germination Rate</th>
                            <th>Survival Rate</th>                            
                            <th>Transplanted</th>
                            <th>Status</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    
                    {% if nursery_records %}
                    <tbody>
                        {% for record in nursery_records %}
                        <tr>
                            <td>{{ record.beneficiary.full_name }}</td>
                            <td>{{ record.date_planted|date:"d-m-Y" }}</td>
                            <td>{{ record.crop.name }}</td>
                            <td>{{ record.cropvariety.name }}</td>
                            <td>                               
                                <i class="fa fa-info-circle text-primary fa-lg" data-toggle="tooltip" data-placement="top" title=" {{ record.greenhouse.name }} - {{ record.greenhouse_room.room_name }}"></i>
                            </td>
                            <td>{{ record.seeds_sown }}</td>
                            <td>{{ record.seeds_germinated }}</td>
                            <td>{{ record.avg_germination_rate }}%</td>
                            <td>{{ record.avg_survival_rate }}%</td>                            
                            <td>{{ record.seedlings_transplanted }}</td>
                            <td>{{ record.status }}</td>
                            <td class="text-center">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="View Record">
                                    <i class="fa fa-wpexplorer text-success fa-lg"></i>
                                </a>&nbsp;&nbsp;
                                {% comment %} <a href="{% url 'edo_update_nursery_data' record.id %}" data-toggle="tooltip" data-placement="top" title="Update Record">
                                  <i class="fa  fa-pencil-square text-primary fa-lg"></i>
                                </a> &nbsp;&nbsp;
                                <a href="{% url 'edo_create_nursery_data' record.beneficiary_id %}" data-toggle="tooltip" data-placement="top" title="Update Record">
                                    <i class="fa  fa-plus-circle text-primary fa-lg"></i>
                                  </a> &nbsp;&nbsp; {% endcomment %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    {% else %}
                    <tbody>
                        <tr>
                            <td colspan="10" class="text-center">No record Found</td>
                        </tr>
                    </tbody>
                    {% endif %}
                </table>
                

              </div>
            </div>
          </div>
          
          {% comment %} <div class="card col-md-3" style="border: 2px solid blue"></div> {% endcomment %}

        </div>
   {% endblock %}