{% extends "base_auth_dash.html" %}
{% load static %}
{% load humanize %}
{% load currency_filters %}

{% block content %}
<div class="col-lg-6">
  <div class="card shadow-sm border-0 rounded">
      <div class="card-body">
          <h1 class="fs-4 fw-semibold text-primary">Spoilage Confirmation
              <a href="{% url 'orders' %}" class="btn btn-light btn-sm float-end">
                  <i class="fa fa-arrow-left"></i> Back to Spoilage
              </a>
          </h1>
          <hr/>
          
          <form method="post" class="mt-3">
              {% csrf_token %}
              <div class="mb-3">
                {{ form.confirmation_note.label_tag }}
                {{ form.confirmation_note }}
             </div>
              
              <button type="submit" class="btn btn-primary w-100">
                  <i class="fa fa-check-circle"></i> Confirm
              </button>
          </form>
      </div>
  </div>
</div>
{% endblock %}