{% if order_item and order_item.id %}
<form method="post" id="editorderItemForm" action="{% url 'sa_edit_order_item' order_item.id %}">
{% else %}
<form method="post" id="editorderItemForm" onsubmit="return false;">
{% endif %}
  {% csrf_token %}
  <input type="hidden" name="order_item_id" value="{{ order_item.id }}">
  <div class="modal-header bg-primary text-white">
    <h5 class="modal-title">Edit Order Item</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
  </div>
  <div class="modal-body">
    {% comment %} {{ form.as_p }} {% endcomment %}

    <div class="row">
      <div class="mb-3">
        {{ form.harveststock.label_tag }}
         {{ form.harveststock }}
      </div>
      <div class="mb-3">
        {{ form.unit_price.label_tag }} 
        {{ form.unit_price }}
      </div>
      <div class="mb-3">
        {{ form.quantity.label_tag }}
        {{ form.quantity }}
      </div>      
      <div class="col-md-12 mb-3">
        {{ form.notes.label_tag }}
        {{ form.notes }}
      </div>
    </div>

  </div>
  <div class="modal-footer">    
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
    <button type="submit" class="btn btn-primary">Save changes</button>
  </div>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% if order_item and order_item.id %}
<form method="post" id="editorderItemForm" action="{% url 'sa_edit_order_item' order_item.id %}">
{% else %}
<form method="post" id="editorderItemForm" onsubmit="return false;">
{% endif %}
  {% csrf_token %}
  <input type="hidden" name="order_item_id" value="{{ order_item.id }}">
  <div class="modal-header bg-primary text-white">
    <h5 class="modal-title">Edit Order Item</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
  </div>
  <div class="modal-body">
    {% comment %} {{ form.as_p }} {% endcomment %}

    <div class="row">
      <div class="mb-3">
        {{ form.harveststock.label_tag }}
         {{ form.harveststock }}
      </div>
      <div class="mb-3">
        {{ form.unit_price.label_tag }} 
        {{ form.unit_price }}
      </div>
      <div class="mb-3">
        {{ form.quantity.label_tag }}
        {{ form.quantity }}
      </div>      
      <div class="col-md-12 mb-3">
        {{ form.notes.label_tag }}
        {{ form.notes }}
      </div>
    </div>

  </div>
  <div class="modal-footer">    
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
    <button type="submit" class="btn btn-primary">Save changes</button>
  </div>
</form>

