{% extends "base_auth_dash.html" %}
{% block content %}
<div class="col-lg-8">

    <div class="card">
      <div class="card-body">
                <h2>{{ buyer.client_name }}</h2>
                <p>{{ buyer.location }}</p>
                <p>{{ buyer.contact_person }}</p>
                <p>{{ buyer.phone }}</p>
                <p>{{ buyer.email }}</p>
                <p>{{ buyer.shipping_address }}</p>              
                <a href="{% url 'buyer_index' %}"><i class="fa  fa-mail-reply-all"></i> Back</a>
    </div>
    </div>
</div>
{% endblock content  %}



