{% extends "base_auth_dash.html" %}
{% load static %}

{% block content %}
<div class="col-lg-12">
<style>
  .backIcon:hover{
      color:white!important;
  }
</style>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          {% if form.instance.pk %} Edit {% else %} Create {% endif %} Maintenance Cost Item  
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span class="btn btn-outline-primary">
                 <a href="{% url 'aic_cost_item_list' %}" class="backIcon"><i class="fa fa-mail-reply-all"></i> Go Back</a> 
          </span>
        </h5>

    {% if form.errors %}
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>Errors:</strong>
        <ul>
            {% for field in form %}
                {% if field.errors %}
                    <li><strong>{{ field.label }}:</strong>
                        <ul>
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

<form method="post" action="{% if form.instance.pk %}{% url 'aic_cost_item_update' item_cost_id=form.instance.pk %}{% else %}{% url 'aic_cost_item_create' %}{% endif %}" enctype="multipart/form-data">
    {% csrf_token %}
    {% comment %} {{ form.as_p }} {% endcomment %}
    <div class="mb-3">
            {{ form.name.label_tag }}
            {{ form.name }}
    </div>
    <div class="mb-3">
        {{ form.greenhouse.label_tag }}
        {{ form.greenhouse }}
        {% if form.greenhouse.help_text %}
            <small class="form-text text-muted" style="background:#002b2a; color:#fff!important; padding:0.2%">{{ form.greenhouse.help_text }}</small>
        {% endif %}
    </div>
    <div class="mb-3">
        {{ form.description.label_tag }}
        {{ form.description }}
    </div>
    <div class="mb-3 form-check" style="margin-left:3%;">
        {{ form.is_global }}
        {{ form.is_global.label_tag }}
        <small class="form-text text-muted" style="background:#002b2a; color:#fff!important; padding:0.2%">Check if this bill item applies to all beneficiaries.</small>
    </div>
    {% if form.instance.pk %}
        <button type="submit" class="btn btn-success"><i class="fa fa-check-square-o"></i> Update</button>
    {% else %}
        <button type="submit" class="btn btn-primary text-white"><i class="fa fa-plus-square-o"></i> Create</button>
    {% endif %}
</form>
</div>
</div>
</div>
 
    

{% endblock content  %}
