{% extends "base_auth_dash.html" %}
{% block content %}
<div class="col-lg-8">

    <div class="card">
      <div class="card-body">
                <h2>{{ price.crop.name }}</h2>
                <p>{{ price.grade.name }}</p>
                <p>{{ price.unit.expression }}</p>
                <p>{{ price.price }}</p>
                <p>{{ price.from_date }}</p>
                <p>{{ price.to_date }}</p>              
                <a href="{% url 'price_index' %}"><i class="fa  fa-mail-reply-all"></i> Back</a>
    </div>
    </div>
</div>
{% endblock content  %}



