{% load static %}
<nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start" style="background:#0F6CBD!important; height:55px!important">
      <div class="me-3">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-bs-toggle="minimize">
          <span class="icon-menu" style="color:#fff!important"></span>
        </button>
      </div>
      <div>
        <a class="navbar-brand brand-logo" href="#">
          <img src="{% static 'admin/assets/images/fmp.jpg'%}" alt="logo" />
        </a>
        <a class="navbar-brand brand-logo-mini" href="#">
          <img src="{% static 'admin/assets/images/fmp.jpg'%}" alt="logo" />
        </a>
      </div>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-top" style="background:#0F6CBD!important; height:55px!important">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item d-none d-lg-block">
          <div id="datepicker-popup" class="input-group date datepicker navbar-date-picker">
            <span class="input-group-addon input-group-prepend border-right">
              <span class="icon-calendar input-group-text calendar-icon"></span>
            </span>
            <input type="text" class="form-control">
          </div>
        </li>
        <li class="nav-item">
          <form class="search-form" action="#">
            <i class="icon-search" style="color:#fff!important"></i>
            <input type="search" class="form-control" placeholder="Search Here" title="Search here">
          </form>
        </li>
        <!--li class="nav-item dropdown">
          <a class="nav-link count-indicator" id="notificationDropdown" href="#" data-bs-toggle="dropdown">
            <i class="icon-bell" style="color:#fff!important"></i>
            <span class="count"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0" aria-labelledby="notificationDropdown">
            <a class="dropdown-item py-3 border-bottom">
              <p class="mb-0 fw-medium float-start">You have 4 new notifications </p>
              <span class="badge badge-pill badge-primary float-end">View all</span>
            </a>
            <a class="dropdown-item preview-item py-3">
              <div class="preview-thumbnail">
                <i class="mdi mdi-alert m-auto text-primary"></i>
              </div>
              <div class="preview-item-content">
                <h6 class="preview-subject fw-normal text-dark mb-1">Application Error</h6>
                <p class="fw-light small-text mb-0"> Just now </p>
              </div>
            </a>
            <a class="dropdown-item preview-item py-3">
              <div class="preview-thumbnail">
                <i class="mdi mdi-lock-outline m-auto text-primary"></i>
              </div>
              <div class="preview-item-content">
                <h6 class="preview-subject fw-normal text-dark mb-1">Settings</h6>
                <p class="fw-light small-text mb-0"> Private message </p>
              </div>
            </a>
            <a class="dropdown-item preview-item py-3">
              <div class="preview-thumbnail">
                <i class="mdi mdi-airballoon m-auto text-primary"></i>
              </div>
              <div class="preview-item-content">
                <h6 class="preview-subject fw-normal text-dark mb-1">New user registration</h6>
                <p class="fw-light small-text mb-0"> 2 days ago </p>
              </div>
            </a>
          </div>
        </li-->
        <!--li class="nav-item dropdown">
          <a class="nav-link count-indicator" id="countDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="icon-mail icon-lg" style="color:#fff!important"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0" aria-labelledby="countDropdown">
            <a class="dropdown-item py-3">
              <p class="mb-0 fw-medium float-start">You have 7 unread mails </p>
              <span class="badge badge-pill badge-primary float-end">View all</span>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <img src="{% static 'admin/assets/images/faces/face10.jpg' %}" alt="image" class="img-sm profile-pic">
              </div>
              <div class="preview-item-content flex-grow py-2">
                <p class="preview-subject ellipsis fw-medium text-dark">Marian Garner </p>
                <p class="fw-light small-text mb-0"> The meeting is cancelled </p>
              </div>
            </a>
            <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <img src="{% static 'admin/assets/images/faces/face12.jpg' %}" alt="image" class="img-sm profile-pic">
              </div>
              <div class="preview-item-content flex-grow py-2">
                <p class="preview-subject ellipsis fw-medium text-dark">David Grey </p>
                <p class="fw-light small-text mb-0"> The meeting is cancelled </p>
              </div>
            </a>
            <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <img src="{% static 'admin/assets/images/faces/face1.jpg' %}" alt="image" class="img-sm profile-pic">
              </div>
              <div class="preview-item-content flex-grow py-2">
                <p class="preview-subject ellipsis fw-medium text-dark">Travis Jenkins </p>
                <p class="fw-light small-text mb-0"> The meeting is cancelled </p>
              </div>
            </a>
          </div>
        </li-->
            {% if user.is_authenticated %}
            {% if user.beneficiary %}
              <li class="nav-item dropdown d-none d-lg-block user-dropdown">
                <a class="nav-link" id="UserDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                  {% if user.beneficiary.photo.url %}
                  <img class="img-md rounded-circle" src="{{ user.beneficiary.photo.url }}" alt="{{ user.beneficiary.full_name }}" style="width:35px!important; height:35px!important; border:2px solid #fff">
                  {% else %}
                  <img class="img-md rounded-circle" src="{% static 'admin/assets/images/faces/user-no-image.png' %}" alt="{{ user.beneficiary.full_name }}" style="width:35px!important; height:35px!important; border:2px solid #fff">
                  {% endif %}
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">           
                  <div class="dropdown-header text-center">
                    <p class="mb-1 mt-3 fw-semibold">{{ user.beneficiary.full_name }}</p>
                    <p class="fw-light text-muted mb-0">{{ user.beneficiary.nationalId }}</p>
                    {% if user.groups.all %}
                      <p class="fw-light text-muted mb-0" style="background:#317256; padding:1%; color:#fff!important; font-weight:600">{{ user.groups.all.0.name }}</p>
                    {% else %}
                      <p class="fw-light text-muted mb-0">No Group</p>
                    {% endif %}
                  </div>
                  <a href="{% url 'beneficiary_profile' %}" class="dropdown-item"><i class="dropdown-item-icon mdi mdi-account-outline text-primary me-2"></i> My Profile <span class="badge badge-pill badge-danger">1</span></a>
                  <!--a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-message-text-outline text-primary me-2"></i> Messages</a>
                  <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-calendar-check-outline text-primary me-2"></i> Activity</a>
                  <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-help-circle-outline text-primary me-2"></i> Help</a-->
                  <a href="{% url 'user_logout' %}" class="dropdown-item"><i class="dropdown-item-icon mdi mdi-power text-primary me-2"></i>Sign Out</a>
                </div>
              </li>
            {% elif user.supervisor %}
              <li class="nav-item dropdown d-none d-lg-block user-dropdown">
                <a class="nav-link" id="UserDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                  {% if user.supervisor.photo.url %}
                  <img class="img-md rounded-circle" src="{{ user.supervisor.photo.url }}" alt="{{ user.supervisor.fullname }}" style="width:35px!important; height:35px!important; border:2px solid #fff">
                  {% else %}
                  <img class="img-md rounded-circle" src="{% static 'admin/assets/images/faces/user-no-image.png' %}" alt="{{ user.supervisor.full_name }}" style="width:35px!important; height:35px!important; border:2px solid #fff">
                  {% endif %}
                
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">           
                  <div class="dropdown-header text-center">
                    <p class="mb-1 mt-3 fw-semibold">{{ user.supervisor.fullname }}</p>
                    <p class="fw-light text-muted mb-0">{{ user.supervisor.nationalId }}</p>
                    {% if user.groups.all %}
                      <p class="fw-light text-muted mb-0" style="background:#FDE100; padding:1%; color:#000!important; font-weight:600">{{ user.groups.all.0.name }}</p>
                    {% else %}
                      <p class="fw-light text-muted mb-0">No Group</p>
                    {% endif %}
                  </div>
                  <a href="{% url 'edo_profile_index' %}" class="dropdown-item"><i class="dropdown-item-icon mdi mdi-account-outline text-primary me-2"></i> My Profile <span class="badge badge-pill badge-danger">1</span></a>
                  <!--a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-message-text-outline text-primary me-2"></i> Messages</a>
                  <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-calendar-check-outline text-primary me-2"></i> Activity</a>
                  <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-help-circle-outline text-primary me-2"></i> Help</a-->
                  <a href="{% url 'user_logout' %}" class="dropdown-item"><i class="dropdown-item-icon mdi mdi-power text-primary me-2"></i>Sign Out</a>
                </div>
              </li>
              {% elif user.aic %}
              <li class="nav-item dropdown d-none d-lg-block user-dropdown">
                <a class="nav-link" id="UserDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                 {% if user.aic.photo.url %}
                  <img class="img-md rounded-circle" src="{{ user.aic.photo.url }}" alt="{{ user.aic.fullname }}" style="width:35px!important; height:35px!important; border:2px solid #fff">
                
                  {% else %}
                  <img class="img-md rounded-circle" src="{% static 'admin/assets/images/faces/user-no-image.png' %}" alt="{{ user.aic.full_name }}" style="width:35px!important; height:35px!important; border:2px solid #fff">
                  {% endif %}
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">           
                  <div class="dropdown-header text-center">
                    <p class="mb-1 mt-3 fw-semibold">{{ user.aic.person_incharge }}</p>
                    <p class="fw-light text-muted mb-0">{{ user.aic.phone }}</p>
                    {% if user.groups.all %}
                      <p class="fw-light text-muted mb-0" style="background:#0F6CBD; padding:1%; color:#fff!important; font-weight:600">{{ user.groups.all.0.name }}</p>
                    {% else %}
                      <p class="fw-light text-muted mb-0">No Group</p>
                    {% endif %}
                  </div>
                  <a href="#" class="dropdown-item"><i class="dropdown-item-icon mdi mdi-account-outline text-primary me-2"></i> My Profile <span class="badge badge-pill badge-danger">1</span></a>
                   <!--a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-message-text-outline text-primary me-2"></i> Messages</a>
                  <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-calendar-check-outline text-primary me-2"></i> Activity</a>
                  <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-help-circle-outline text-primary me-2"></i> Help</a-->
                  <a href="{% url 'user_logout' %}" class="dropdown-item"><i class="dropdown-item-icon mdi mdi-power text-primary me-2"></i> Sign Out</a>
                </div>
              </li>
              {% elif user.finance %}  
              <li class="nav-item dropdown d-none d-lg-block user-dropdown">
                <a class="nav-link" id="UserDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                 {% if user.finance.photo.url %}
                  <img class="img-md rounded-circle" src="{{ user.finance.photo.url }}" alt="{{ user.finance.fullname }}" style="width:35px!important; height:35px!important; border:2px solid #fff">
                
                  {% else %}
                  <img class="img-md rounded-circle" src="{% static 'admin/assets/images/faces/user-no-image.png' %}" alt="{{ user.finance.fullname }}" style="width:35px!important; height:35px!important; border:2px solid #fff">
                  {% endif %}
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">           
                  <div class="dropdown-header text-center">
                    <p class="mb-1 mt-3 fw-semibold">{{ user.finance.fullname }}</p>
                    <p class="fw-light text-muted mb-0">{{ user.finance.phone }}</p>
                    {% if user.groups.all %}
                      <p class="fw-light text-muted mb-0" style="background:#027030; padding:1%; color:#fff!important; font-weight:600">{{ user.groups.all.0.name }}</p>
                    {% else %}
                      <p class="fw-light text-muted mb-0">No Group</p>
                    {% endif %}
                  </div>
                  <a href="#" class="dropdown-item"><i class="dropdown-item-icon mdi mdi-account-outline text-primary me-2"></i> My Profile <span class="badge badge-pill badge-danger">1</span></a>
                   <!--a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-message-text-outline text-primary me-2"></i> Messages</a>
                  <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-calendar-check-outline text-primary me-2"></i> Activity</a>
                  <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-help-circle-outline text-primary me-2"></i> Help</a-->
                  <a href="{% url 'user_logout' %}" class="dropdown-item"><i class="dropdown-item-icon mdi mdi-power text-primary me-2"></i> Sign Out</a>
                </div>
              </li>

              {% elif user.buyer_profile %}              
              <li class="nav-item dropdown d-none d-lg-block user-dropdown">
                  <a class="nav-link" id="UserDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                    {% if user.buyer.photo %}
                        <img class="img-md rounded-circle" src="{{ user.buyer_profile.photo.url }}" alt="{{ user.buyer_profile.client_name }}" style="width:35px!important; height:35px!important; border:2px solid #fff">
                    {% else %}
                        <img class="img-md rounded-circle" src="{% static 'admin/assets/images/faces/user-no-image.png' %}" alt="No Image" style="width:35px!important; height:35px!important; border:2px solid #fff">
                    {% endif %}
                  </a>
                  <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">           
                    <div class="dropdown-header text-center">
                      <p class="mb-1 mt-3 fw-semibold">{{ user.buyer_profile.client_name }}</p>
                      <p class="fw-light text-muted mb-0">{{ user.buyer_profile.phone }}</p>
                      {% if user.groups.all %}
                        <p class="fw-light text-muted mb-0" style="background:#0F6CBD; padding:1%; color:#fff!important; font-weight:600">{{ user.groups.all.0.name }}, Test</p>
                      {% else %}
                        <p class="fw-light text-muted mb-0">No Group</p>
                      {% endif %}
                    </div>
                    <a href="#" class="dropdown-item"><i class="dropdown-item-icon mdi mdi-account-outline text-primary me-2"></i> My Profile <span class="badge badge-pill badge-danger">1</span></a>
                    <!--a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-message-text-outline text-primary me-2"></i> Messages</a>
                  <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-calendar-check-outline text-primary me-2"></i> Activity</a>
                  <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-help-circle-outline text-primary me-2"></i> Help</a-->
                    <a href="{% url 'user_logout' %}" class="dropdown-item"><i class="dropdown-item-icon mdi mdi-power text-primary me-2"></i>Sign Out</a>
                  </div>
              </li>
              {% elif user.sale_agent %}              
              <li class="nav-item dropdown d-none d-lg-block user-dropdown">
                  <a class="nav-link" id="UserDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                    {% if user.sale_agent.photo %}
                        <img class="img-md rounded-circle" src="{{ user.sale_agent.photo.url }}" alt="{{ user.sale_agent.fullname }}" style="width:35px!important; height:35px!important; border:2px solid #fff">
                    {% else %}
                        <img class="img-md rounded-circle" src="{% static 'admin/assets/images/faces/user-no-image.png' %}" alt="No Image" style="width:35px!important; height:35px!important; border:2px solid #fff">
                    {% endif %}
                  </a>
                  <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">           
                    <div class="dropdown-header text-center">
                      <p class="mb-1 mt-3 fw-semibold">{{ user.sale_agent.fullname }}</p>
                      <p class="fw-light text-muted mb-0">{{ user.sale_agent.phone }}</p>
                      {% if user.groups.all %}
                        <p class="fw-light text-muted mb-0" style="background:#0F6CBD; padding:1%; color:#fff!important; font-weight:600">{{ user.groups.all.0.name }} , Test</p>
                      {% else %}
                        <p class="fw-light text-muted mb-0">No Group</p>
                      {% endif %}
                    </div>
                    <a href="#" class="dropdown-item"><i class="dropdown-item-icon mdi mdi-account-outline text-primary me-2"></i> My Profile <span class="badge badge-pill badge-danger">1</span></a>
                     <!--a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-message-text-outline text-primary me-2"></i> Messages</a>
                  <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-calendar-check-outline text-primary me-2"></i> Activity</a>
                  <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-help-circle-outline text-primary me-2"></i> Help</a-->
                    <a href="{% url 'user_logout' %}" class="dropdown-item"><i class="dropdown-item-icon mdi mdi-power text-primary me-2"></i>Sign Out</a>
                  </div>
              </li>
              {% else %}
              <li class="text-white">No Profile</li>
            {% endif %}

            {% endif %}
      </ul>    
      <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-bs-toggle="offcanvas">
        <span class="mdi mdi-menu"></span>
      </button>
    </div>
  </nav>