<nav class="sidebar sidebar-offcanvas" id="sidebar" style="background:#e8e9ea; border-right:1px solid #e8e9ea; margin-top:-2.7%;">
  <ul class="nav">
         {% if user.is_authenticated %}
             {% if user.beneficiary %}
                <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == 'beneficiary_dashboard' %} active {% endif %}" 
                  href="{% url 'beneficiary_dashboard' %}">
                  <i class="mdi mdi-grid-large menu-icon"></i>
                  <span class="menu-title">Dashboard</span>
              </a>
                </li>          
          {% elif user.supervisor %}
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'supervisor_dashboard' %} active {% endif %}" 
              href="{% url 'supervisor_dashboard' %}">
              <i class="mdi mdi-grid-large menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          {% elif user.aic %}
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'aic_dashboard' %} active {% endif %}"
             href="{% url 'aic_dashboard' %}">
              <i class="mdi mdi-grid-large menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          {% elif user.sale_agent %}
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'sale_dashboard' %} active {% endif %}" 
            href="{% url 'sale_dashboard' %}">
              <i class="mdi mdi-grid-large menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          {% elif user.buyer_profile %}
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'buyer_dashboard' %} active {% endif %}" 
             href="{% url 'buyer_dashboard' %}">
              <i class="mdi mdi-grid-large menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          {% elif user.finance %}
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'finance_dashboard' %} active {% endif %}" 
             href="{% url 'finance_dashboard' %}">
              <i class="mdi mdi-grid-large menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          {% endif %}
      {% endif %}


      {% if user.is_authenticated %}
            {% if user.beneficiary %}
      <li class="nav-item nav-category">Main Menu</li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
          <i class="menu-icon mdi mdi-floor-plan"></i>
          <span class="menu-title">Co-Workers</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{% url 'beneficiary_coworker' %}">List</a></li>
           <li class="nav-item"> <a class="nav-link" href="{% url 'contracts' %}">Contract History</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#greenhouse" aria-expanded="false" aria-controls="greenhouse">
          <i class="menu-icon mdi mdi-card-text-outline"></i>
          <span class="menu-title">Greenhouse Management</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="greenhouse">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"><a class="nav-link" href="{% url 'crop_index' %}">Crop</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'tunnel_index' %}">Tunnel</a></li>
          </ul>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#tunnel" aria-expanded="false" aria-controls="tunnel">
          <i class="menu-icon mdi mdi-card-text-outline"></i>
          <span class="menu-title">Tunnel Management</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="tunnel">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"><a class="nav-link" href="{% url 'nursery_data_index' %}">Nursery</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'height_data_index' %}">Plant Height</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'spraying_data_index' %}">Crop Spraying</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'irrigation_data_index' %}">Crop Irrigation</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'trellising_data_index' %}">Trellising</a></li>
          </ul>
        </div>
      </li>
      

      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
          <i class="menu-icon mdi mdi-chart-line"></i>
          <span class="menu-title">My Production</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="charts">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{% url 'harvest_index' %}">Harvest</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'harvest_history' %}">Harvest History</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
          <i class="menu-icon mdi mdi-table"></i>
          <span class="menu-title">My Financials</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="tables">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{% url 'beneficiary_income' %}">Income</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'farm_input_index' %}">Farm Input Cost</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'finance_index' %}">Loans</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'beneficiary_service_request_list' %}">Operational Cost</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'cash_assigned_payment_history' %}">Payment History</a></li>
            
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#tablesAccountsBene" aria-expanded="false" aria-controls="tablesAccountsBene">
          <i class="menu-icon mdi mdi-table"></i>
          <span class="menu-title">Accounting</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="tablesAccountsBene">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{% url 'beneficiary_accounting_summary' user.beneficiary.id %}">Summary Sheet</a></li>            
            <li class="nav-item"> <a class="nav-link" href="{% url 'beneficiary_balance_sheet' %}">Balance Sheet</a></li> 
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
          <i class="menu-icon mdi mdi-layers-outline"></i>
          <span class="menu-title">My EDO</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="icons">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{% url 'edo' %}">Assigned EDO</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#auths" aria-expanded="false" aria-controls="auth">
          <i class="menu-icon mdi mdi-account-circle-outline"></i>
          <span class="menu-title">Knowledge Hub</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="auths">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{% url 'trend_knowledge_index' %}"> My Reported Trends </a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'create_trend_knowledge' %}"> Trend Knowledge </a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'trend_knowledge_board' %}"> Discussion Forum </a></li>
          </ul>
        </div>
      </li>
      {% elif user.supervisor %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#beneficiaryManager" aria-expanded="false" aria-controls="form-elements">
              <i class="menu-icon mdi mdi-card-text-outline"></i>
              <span class="menu-title">My Beneficiaries</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="beneficiaryManager">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="{% url 'edo_beneficiary_index' %}">Beneficiary</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'edo_cash_loaned_list' %}">Loans</a></li>
              </ul>
            </div>
          </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="collapse" href="#edogreenhouse" aria-expanded="false" aria-controls="edogreenhouse">
                <i class="menu-icon mdi mdi-card-text-outline"></i>
                <span class="menu-title">My Greenhouse</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="edogreenhouse">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"><a class="nav-link" href="{% url 'edo_crop_index' %}">Crop</a></li>
                  <li class="nav-item"><a class="nav-link" href="{% url 'edo_tunnel_index' %}">Tunnel</a></li>
                 </ul>
              </div>
            </li>
      
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="collapse" href="#edotunnel" aria-expanded="false" aria-controls="edotunnel">
                <i class="menu-icon mdi mdi-card-text-outline"></i>
                <span class="menu-title">Tunnels</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="edotunnel">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"><a class="nav-link" href="{% url 'edo_nursery_data_index' %}">Nursery</a></li>
                  <li class="nav-item"><a class="nav-link" href="{% url 'edo_height_data_index' %}">Plant Height</a></li>
                  <li class="nav-item"><a class="nav-link" href="{% url 'edo_spraying_data_index' %}">Crop Spraying</a></li>
                  <li class="nav-item"><a class="nav-link" href="{% url 'edo_irrigation_data_index' %}">Crop Irrigation</a></li>
                  <li class="nav-item"><a class="nav-link" href="{% url 'edo_trellising_data_index' %}">Trellising</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="collapse" href="#farmManages" aria-expanded="false" aria-controls="farmManages">
                <i class="menu-icon mdi mdi-table"></i>
                <span class="menu-title">Farm Manager</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="farmManages">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="{% url 'edo_farm_season_index' %}">Farm Cycles</a></li>
                  <li class="nav-item"> <a class="nav-link" href="{% url 'edo_farm_input_stock' %}">Input Stock</a></li>
                  <li class="nav-item"> <a class="nav-link" href="{% url 'edo_distribution_list' %}">Distribution</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
                <i class="menu-icon mdi mdi-chart-line"></i>
                <span class="menu-title">My Production</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="charts">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="{% url 'edo_harvest_history' %}">Harvest Records</a></li>
                  
                </ul>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="collapse" href="#services" aria-expanded="false" aria-controls="services">
                <i class="menu-icon mdi mdi-chart-line"></i>
                <span class="menu-title">Services</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="services">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="{% url 'edo_service_request_index' %}">Service Requests</a></li>
                </ul>
              </div>
            </li>

             <li class="nav-item">
              <a class="nav-link" data-bs-toggle="collapse" href="#edoEquipment" aria-expanded="false" aria-controls="edoEquipment">
                <i class="menu-icon mdi mdi-card-text-outline"></i>
                <span class="menu-title">Equipment &amp; Maintenance</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="edoEquipment">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"><a class="nav-link" href="{% url 'equipment_list' %}">Equipment</a></li>
                  <li class="nav-item"><a class="nav-link" href="{% url 'maintenance_list' %}">Log Maintenance</a></li>
                  {% comment %} <li class="nav-item"><a class="nav-link" href="{% url 'edo_height_data_index' %}">Plant Height</a></li>
                  <li class="nav-item"><a class="nav-link" href="{% url 'edo_spraying_data_index' %}">Crop Spraying</a></li>
                  <li class="nav-item"><a class="nav-link" href="{% url 'edo_irrigation_data_index' %}">Crop Irrigation</a></li>
                  <li class="nav-item"><a class="nav-link" href="{% url 'edo_trellising_data_index' %}">Trellising</a></li> {% endcomment %}
                </ul>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="collapse" href="#auths" aria-expanded="false" aria-controls="auth">
                <i class="menu-icon mdi mdi-account-circle-outline"></i>
                <span class="menu-title">Knowledge Hub</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="auths">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="{% url 'edo_trend_knowledge_index' %}"> My Reported Trends </a></li>
                  <li class="nav-item"> <a class="nav-link" href="{% url 'edo_create_trend_knowledge' %}"> Trend Knowledge </a></li>
                  <li class="nav-item"> <a class="nav-link" href="{% url 'edo_trend_knowledge_board' %}"> Discussion Forum </a></li>
                </ul>
              </div>
            </li>
      {% elif user.aic %}
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#aicbene" aria-expanded="false" aria-controls="aicbene">
                  <i class="menu-icon mdi mdi-account-group"></i>
                  <span class="menu-title">Beneficiaries</span>
                  <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="aicbene">
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="{% url 'aic_beneficiary_index' %}">Beneficiaries</a></li>    
                    
                    
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
                  <i class="menu-icon mdi mdi-pier-crane"></i>
                  <span class="menu-title">Production</span>
                  <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="charts">
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="{% url 'aic_greenhouse_index' %}">Greenhouse</a></li>
                    <li class="nav-item"> <a class="nav-link" href="{% url 'aic_harvest_history' %}">Harvest Records</a></li>
                    <li class="nav-item"> <a class="nav-link" href="{% url 'harvest_summary_view' %}">Harvest Summary</a></li> 
                    
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#farmManag" aria-expanded="false" aria-controls="farmManag">
                  <i class="menu-icon mdi mdi-table"></i>
                  <span class="menu-title">Farm Manager</span>
                  <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="farmManag">
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="{% url 'aic_input_dealer_list' %}">Input Dealers</a></li>
                    <li class="nav-item"> <a class="nav-link" href="{% url 'aic_input_category_list' %}">Farm Input Category</a></li>
                    <li class="nav-item"> <a class="nav-link" href="{% url 'aic_farm_input_list' %}">Farm Input Register</a></li>
                    <li class="nav-item"> <a class="nav-link" href="{% url 'aic_distribution_list' %}">Distribution</a></li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#aictunnel" aria-expanded="false" aria-controls="aictunnel">
                  <i class="menu-icon mdi mdi-card-text-outline"></i>
                  <span class="menu-title">Tunnels</span>
                  <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="aictunnel">
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="{% url 'aic_nursery_data_index' %}">Nursery</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'aic_height_data_index' %}">Plant Height</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'aic_spraying_data_index' %}">Crop Spraying</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'aic_irrigation_data_index' %}">Crop Irrigation</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'aic_trellising_data_index' %}">Trellising</a></li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#buyer" aria-expanded="false" aria-controls="buyer">
                  <i class="menu-icon mdi mdi-cart"></i>
                  <span class="menu-title"> Sales & Marketing</span>
                  <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="buyer">
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="{% url 'aic_sale_agent_index' %}">Sale Agents</a></li>
                    <li class="nav-item"> <a class="nav-link" href="{% url 'aic_buyer_index' %}">Buyers</a></li>
                    <li class="nav-item"> <a class="nav-link" href="{% url 'aic_all_orders' %}">Orders</a></li>
                    {% comment %} <li class="nav-item"> <a class="nav-link" href="{% url 'aic_market_dashboard' %}">Sales</a></li> {% endcomment %}
                    
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
                  <i class="menu-icon mdi mdi-finance"></i>
                  <span class="menu-title">Finance</span>
                  <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="tables">
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="{% url 'aic_pricetale_index' %}">Price Table</a></li>
                    <li class="nav-item"> <a class="nav-link" href="{% url 'aic_beneficiaries_cash_requests' %}">Loan Request</a></li>
                    <li class="nav-item"> <a class="nav-link" href="{% url 'aic_cash_loaned_list' %}">Loans</a></li>
                    <li class="nav-item"> <a class="nav-link" href="{% url 'aic_beneficiaries_repayments' %}">Payment History</a></li>
                  </ul>
                </div>
              </li>

              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#mAccount" aria-expanded="false" aria-controls="mAccount">
                  <i class="menu-icon mdi mdi-bank"></i>
                  <span class="menu-title">Accounting</span>
                  <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="mAccount">
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="{% url 'aic_accounting_summary' %}">Balance Sheet</a></li>
                    {% comment %} <li class="nav-item"> <a class="nav-link" href="{% url 'aic_farm_season_index' %}">Farm Cycles</a></li> {% endcomment %}
                    <li class="nav-item"> <a class="nav-link" href="{% url 'aic_billable_item_index' %}">Billables</a></li>
                    <li class="nav-item"> <a class="nav-link" href="{% url 'aic_item_cost_index' %}">Billed Item Cost</a></li>

                    <li class="nav-item"> <a class="nav-link" href="{% url 'aic_service_item_index' %}">Service Item</a></li>
                    <li class="nav-item"> <a class="nav-link" href="{% url 'aic_service_request_list' %}">Service Requests</a></li>
                   
                  </ul>
                </div>
              </li>
                

              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
                  <i class="menu-icon mdi mdi-layers-outline"></i>
                  <span class="menu-title">EDO</span>
                  <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="icons">
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="{% url 'aic_attendance_list' %}">Attendance</a></li>
                    <li class="nav-item"> <a class="nav-link" href="{% url 'aic_edo_index' %}">List</a></li>
                    <li class="nav-item"> <a class="nav-link" href="{% url 'aic_service_request_list' %}">Requests</a></li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#auths" aria-expanded="false" aria-controls="auth">
                  <i class="menu-icon mdi mdi-account-circle-outline"></i>
                  <span class="menu-title">Knowledge Hub</span>
                  <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="auths">
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="{% url 'trend_knowledge_index' %}"> My Reported Trends </a></li>
                    <li class="nav-item"> <a class="nav-link" href="{% url 'aic_trend_knowledge_board' %}"> Discussion Forum </a></li>
                  </ul>
                </div>
              </li>
      {% elif user.buyer_profile %}
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="collapse" href="#shop" aria-expanded="false" aria-controls="shop">
            <i class="menu-icon fa fa-shopping-basket fa-lg"></i>  
            <span class="menu-title"> Shop </span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="shop">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="{% url 'buyer_shop' %}">  Shop</a></li>
            </ul>
          </div>
        </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#auths" aria-expanded="false" aria-controls="auth">
              <i class="menu-icon fa fa-cart-plus"></i>
              <span class="menu-title">My Orders</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auths">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'orders' %}"> My Orders</a></li>
                 <li class="nav-item"> <a class="nav-link" href="{% url 'buyer_spoilage' %}"> Reported Spoilages</a></li>
              </ul>
            </div>
          </li>          
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#trans" aria-expanded="false" aria-controls="trans">
              <i class="menu-icon fa fa-money fa-lg"></i> 
              <span class="menu-title"> Transaction</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="trans">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'buyer_market_dashboard' %}"> Market</a></li>
              </ul>
            </div>
          </li>
          {% elif user.sale_agent %}
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#buyers" aria-expanded="false" aria-controls="auth">
              <i class="menu-icon mdi mdi-bucket-outline"></i>
              <span class="menu-title">Buyers</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="buyers">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'sale_buyer_index' %}">Buyers</a></li>              
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#stock" aria-expanded="false" aria-controls="auth">
              <i class="menu-icon mdi mdi-cart-arrow-right"></i>
              <span class="menu-title">Stock Level</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="stock">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'sales_agent_stock' %}">My Stock</a></li> 
                {% comment %} <li class="nav-item"> <a class="nav-link" href="{% url 'sa_stock_movement_list' %}">Stock Movement</a></li> {% endcomment %}
                <li class="nav-item"> <a class="nav-link" href="{% url 'movement_list' %}">Stock Transfer</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'sa_fulfillment_list' %}">Stock Fulfillments</a></li>
                
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#auths" aria-expanded="false" aria-controls="auth">
              <i class="menu-icon mdi mdi-palette-advanced"></i>
              <span class="menu-title">Orders</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auths">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'sa_order_list' %}"> Orders </a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'sale_all_orders' %}">Order History</a></li>  
                <li class="nav-item"> <a class="nav-link" href="{% url 'sa_order_spoilages' %}">Order Spoilage</a></li>                
            </div>
          </li>

           <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#saReport" aria-expanded="false" aria-controls="saReport">
              <i class="menu-icon mdi mdi-google-circles-group"></i>
              <span class="menu-title">Reports</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="saReport">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'sa_harvest_report' %}"> Production Harvest Report </a></li>
               <li class="nav-item"> <a class="nav-link" href="{% url 'sa_stock_movement_report' %}"> Stock Movement</a></li>  
               <li class="nav-item"> <a class="nav-link" href="{% url 'sa_sales_order_report' %}">Sales Order</a></li> 
            </div>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#apyment" aria-expanded="false" aria-controls="shop">
              <i class="menu-icon mdi mdi-cash-multiple"></i> 
              <span class="menu-title"> Payment</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="apyment">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'sa_payment_list' %}"> Payments</a></li>
              </ul>
            </div>
          </li>
      {% endif %}      
      {% endif %}
    </ul>
  </nav>